.btn {
  //border-radius: 3px;
  background-color: $btn;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: $bg;
  font-family: Muli;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  transition: .4s;


  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #142236;
    @include tr;
  }

  &:hover{
    &:before{
      width: 100%;
    }
  }
}

.title{
  color: $title;
  font-family: Muli;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub{
  color: #cccccc;
  font-size: 16px;
  font-weight: 400;
}

.top{
  display: flex;
  width: 60px;
  height: 60px;
  background-color: $btn;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 101;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  @include tr;
  @media (max-width: 991.98px){
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }

  &.active{
    pointer-events: all;
    opacity: 1;
  }

  svg{
    width: 23px;
    height: 23px;
    fill: $bg;
    @media (max-width: 991.98px){
      width: 20px;
      height: 20px;
    }
  }
}