@font-face {
  font-family: 'Muli';
  src: local('Muli Regular'), local('Muli-Regular'),
  url('/fonts/Muli-Regular.woff2') format('woff2'),
  url('/fonts/Muli-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: local('Muli Bold'), local('Muli-Bold'),
  url('/fonts/Muli-Bold.woff2') format('woff2'),
  url('/fonts/Muli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: local('Muli SemiBold'), local('Muli-SemiBold'),
  url('/fonts/Muli-SemiBold.woff2') format('woff2'),
  url('/fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('/fonts/Montserrat-Light.woff2') format('woff2'),
  url('/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

