.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  @media (max-width: 767.98px) {
    padding-top: 10px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  &__mmenu {
    display: none;
    padding: 10px;
    margin: -10px;
    @media (max-width: 767.98px) {
      display: block;
      margin-right: auto;
    }

    svg {
      display: block;
      width: 30px;
      height: 30px;
      fill: $bg;
    }
  }

  &__title {
    color: $bg;
    font-size: 35px;
    font-weight: bold;
    margin-right: auto;
    @include sm-block {
      display: none;
    }
  }

  &__nav {
    margin-right: 100px;
    @media (max-width: 767.98px) {
      display: none;
      margin: 0;
      position: fixed;
      top: 0;
      height: 100vh;
      left: 0;
      right: 0;
      z-index: 102;
    }
    &.open{
      display: block;
    }

    &-close{
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      @media (max-width: 767.98px){
        display: block;
      }

      svg{
        pointer-events: none;
        width: 25px;
        height: 25px;
        fill: $bg;
      }
    }
  }

  &__contacts {
    margin: 0 -10px;
    display: flex;
  }

  &__contact {
    padding: 7.5px;
    fill: $bg;
    @include tr;

    &:hover {
      fill: $btn;
    }

    svg {
      width: 20px;
      height: 20px;
      display: block;
      @media (max-width: 767.98px){
        width: 25px;
        height: 25px;
      }
    }
  }

}

.nav {
  display: flex;
  margin: 0 -20px;
  @media (max-width: 767.98px) {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(black,.7);
  }

  &__item {
    color: $bg;
    font-weight: 400;
    margin: 0 20px;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    @media (max-width: 767.98px){
      font-size: 26px;
    }


    @include tr;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 1px;
      background-color: $btn;
      transform: translateX(-100%);
      @include tr;
      @media (max-width: 991.98px) {
        display: none;
      }
    }


    &:hover {
      color: $btn;
      @media (max-width: 991.98px) {
        color: $bg;
      }

      &:before {
        transform: translateX(0);
      }
    }
  }
}