//variables
//fonts
$font: 'Montserrat', Arial, sans-serif;

//colors
$text: #6f6f6f;
$bg: #ffffff;
$title: #242424;
$btn: #41adff;

//another
$font-size: 14px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/begin";
@import "sections/about";
@import "sections/services";
@import "sections/techs";
@import "sections/portfolio";
@import "sections/filter";
@import "sections/feed";
@import "sections/contacts";
@import "sections/banner";
@import "sections/footer";
